<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-cart-items.css' | asset_url }}"
  media="print"
  onload="this.media='all'">


<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>


{%- if request.page_type != 'index' -%}
  <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
    {%- if settings.logo != blank -%}
      <div class="header__heading-logo-wrapper">
        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
        {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
        {{ settings.logo | image_url: width: 600 | image_tag:
 class: 'header__heading-logo motion-reduce',
 widths: widths,
 height: logo_height,
 width: settings.logo_width,
 alt: logo_alt,
 sizes: sizes,
 preload: true
        }}
      </div>
    {%- else -%}
      <span class="h2">{{ shop.name }}</span>
    {%- endif -%}
  </a>
{%- endif -%}

<div class="icons-holder">
  <div class="icon-holder">
    {%- if cart != empty -%}
      <div class="icon_holder_number">
        <span aria-hidden="true">{{ cart.item_count }}</span>
        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
      </div>
    {%- endif -%}
    <a href="{{ routes.cart_url }}" title="View Cart">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        viewBox="0 0 200 187.11"
        class="icons-holder__svg">
        <path class="icons-holder__svg_path" d="M199.04,1.44v135.3c0,27.02-21.49,49.24-47.78,49.24H48.61c-26.29,0-47.78-22.22-47.78-49.24V1.44h198.21ZM58.42,36.8c1.88,7.72,5.95,14.61,11.37,20.03,7.72,7.72,18.36,12.52,30.15,12.52s22.43-4.8,30.26-12.52c5.42-5.42,9.38-12.31,11.26-20.03-3.55-1.98-5.94-5.74-5.94-10.12,0-6.47,5.22-11.68,11.69-11.68s11.68,5.22,11.68,11.68c0,5.32-3.55,9.7-8.34,11.16-2.2,9.81-7.1,18.57-13.98,25.46-9.39,9.39-22.33,15.23-36.62,15.23s-27.23-5.85-36.61-15.23c-6.88-6.88-11.79-15.65-13.99-25.46-4.79-1.46-8.34-5.84-8.34-11.16,0-6.47,5.22-11.68,11.68-11.68s11.69,5.22,11.69,11.68c0,4.38-2.4,8.13-5.95,10.12h0Z" />
      </svg>
      <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
    </a>
  </div>
</div>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification'
    , color_scheme: section.settings.color_scheme
    , desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}


<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": {{ shop.name | json }},
      {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
      {% endif %}
      "sameAs": [
        {{ settings.social_twitter_link | json }},
        {{ settings.social_facebook_link | json }},
        {{ settings.social_pinterest_link | json }},
        {{ settings.social_instagram_link | json }},
        {{ settings.social_tiktok_link | json }},
        {{ settings.social_tumblr_link | json }},
        {{ settings.social_snapchat_link | json }},
        {{ settings.social_youtube_link | json }},
        {{ settings.social_vimeo_link | json }}
      ],
      "url": {{ request.origin | append: page.url | json }}
    }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
  {
    "name": "t:sections.header.name",
    "tag": "header",
    "class": "main-header",
    "max_blocks": 3,
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.header.settings.menu.label"
      },
      {
        "type": "select",
        "id": "menu_type_desktop",
        "options": [
          {
            "value": "dropdown",
            "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
          }, {
            "value": "mega",
            "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
          }, {
            "value": "drawer",
            "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
          }
        ],
        "default": "dropdown",
        "label": "t:sections.header.settings.menu_type_desktop.label",
        "info": "t:sections.header.settings.menu_type_desktop.info"
      },
      {
        "type": "header",
        "content": "t:sections.header.settings.header__1.content"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      }, {
        "type": "color_scheme",
        "id": "menu_color_scheme",
        "label": "t:sections.header.settings.menu_color_scheme.label",
        "default": "scheme-1"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}